body{
    margin: 0;
    padding: 45px;
    box-sizing: border-box;
    background-color: #3772FA;
    font-family: Inter; 
}

header{
    padding: 45px;
    background-color:#3772FA;
    text-align: left;
}
  
.logo-container {
    font-family: Inter;
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 11.05px
}
.logo-image{
    width: 41.03px;
    height: 41.03px;
    margin-right: 16pxs;
}

.logo-text {
    font-weight: 100px;
    font-size: 41.03px;
    color: white;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    height: 100vh;
    padding: 0px;
    gap: 10px
}

.flex-container {
    display: flex;
    align-items:flex-start; 
    max-width: 1200px;
    width: 100%;
}

.text-content {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
    margin: 0;
    color:white;
}

.text-content h1{
line-height: 90px;
font-weight: 600;
    font-size: 72px;
    margin:0 0 10px 0;
}

.text-content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 20px 0;
    color: #e2ebf0;
}

.cta-button {
    min-width: 120px;
  
    position: relative;
    cursor: pointer;
  
    padding: 12px 17px;
    border: 0;
    border-radius: 7px;
  
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: radial-gradient(
      ellipse at bottom,
      rgb(83, 147, 214) 0%,
      rgb(9, 195, 241) 45%
    );
  
    color: rgb(255, 255, 255, 0.66);
  
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .cta-button::before {
    content: "";
    width: 100px;
    height: 1px;
  
    position: absolute;
    bottom: 0;
    left: 15%;
  
    background: blue;
    opacity: 0.2;
  
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .cta-button:hover {
    color: rgb(255, 255, 255, 1);
    transform: scale(1.1) translateY(-3px);
  }
  
  .cta-button:hover::before {
    opacity: 1;
  }
  

.hero-image {
    flex: 1;
    width: 50%;
    
}

.hero-image img{
    width: 100%;
    height:auto;
}